{{define "defineHomeProfileLogout"}}
	<div class="homeprofilelogout">
		<a href="/" class="a_home">Home</a>
		<span> | </span>
		<a href="/profile" class="a_profile">My Profile</a>
		<span> | </span>
		<a href="/logout" class="a_logout">Log Out</a>
	</div>
{{end}}
