{{define "defineProfileLogout"}}
	<div class="profilelogout">
		<a href="/itemSell" class="a_profile">Sell Item</a>
		<span> | </span>
		<a href="/profile" class="a_profile">My Profile</a>
		<span> | </span>
		<a href="/logout" class="a_logout">Log Out</a>
	</div>
{{end}}
