<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "defineHeader"}}
		<title>Login</title>
		<script>
			function signup(e) {
				e.preventDefault();

				var a = e.currentTarget;
				if (!a)
					return;
				console.log("signup", a.getAttribute("value"));

				// submit form
				var form = a.parentNode.parentNode;
				if (form.nodeName.toLowerCase() == "form")
					form.submit();
			}
		</script>
	</head>
	<body id="template_login">
		<div class="div_content_wrapper">
			<div class="div_header">
				<a href="/" class="a_home">Home</a>
			</div>
		</div>

		<div class="login_page">
			<div>
				<h2>Log In</h2>
			</div>

			{{if .ErrorMessage}}
				<div style="color:red;padding-bottom:20px">{{.ErrorMessage}}</div>
			{{end}}

			<form method="POST" autocomplete="off">
				<input type="hidden" name="CSRF" value="CSRF-TOKEN">
				<input type="hidden" name="itemidlogin" value="{{.Item.ItemID}}">
				<div>
					<div class="div_input">
						<input type="text" name="username" placeholder="Username" required
							maxlength="{{.MaxLength}}">
					</div>
					<div class="div_input">
						<input type="password" name="password" placeholder="Password" required>
					</div>
				</div>
				<button class="login" type="submit">Log In</button>
			</form>

			<form method="POST" autocomplete="off" action="signup">
				<input type="hidden" name="CSRF" value="CSRF-TOKEN">
				<input type="hidden" name="itemidsignup" value="{{.Item.ItemID}}">
				<h3>Don't have an account?<a href="/signup" class="signup"
					onclick="signup(event);" value="{{.Item.ItemID}}">Sign Up</a></h3>
			</form>
		</div>

	</body>
</html>
